<?php

return [
    // OpenID Connect
    'oidc_provider' => 'https://id.provider.com',
    // 'oidc_id' => 'ClientIDHere',
    // 'oidc_secret' => 'ClientSecretHere',
    // 'oidc_issuer' => 'https://id.provider.com',

    // use this if no 'end_session_endpoint' is provided in .well-known/openid
    // 'oidc_signout' => 'https://id.provider.com/logout',

    // Codoform SSO
    'forum_redirect' => 'https://forum.foo.bar',
    'client_id' => 'ClientIDHere',
    'secret' => 'ClientSecretHere',
    'timeout' => 6000,
];